.header-container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 20px;
	background-color: #e8e8e8;
	position: fixed;
	width: 100%;
	top: 0;

}

.header-counter{
	margin-left: auto;
	padding-right: 15px;
	font-weight: bold;
	cursor: pointer;
}

